{% extends "base.html" %}

{% load humanize %}

{% block content %}
    <h3>Products</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Latest Price</th>
            <th scope="col">URL</th>
            <th scope="col">Detail</th>
        </tr>
        </thead>
        <tbody>
        {% for product in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ product.name }}</td>
                {% if product.lastest_price %}
                    <td>Rp. {{ product.lastest_price.unit_sale_price|intcomma }}</td>
                {% else %}
                    <td>No price yet</td>
                {% endif %}
                <td><a href="{{ product.product_url }}" target="_blank">Product URL</a></td>
                <td><a href="{% url 'product-detail' pk=product.id %}">detail</a></td>
            </tr>
        {% empty %}
            <td>Sorry, no product in this list.</td>
        {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'product-add' %}" class="btn btn-primary float-right" role="button">Add new</a>

{% endblock %}
